<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Automation/Framework/MasterFramework"><classes><class name="runner.DemoTest"><methods><include name="testLogin"/></methods></class><class name="runner.ReadDataJSONTest"><methods><include name="testcase1"/></methods></class><class name="runner.ReadDataPojoTest"><methods><include name="test"/></methods></class><class name="runner.ReadDataXLTest"><methods><include name="testcase1"/></methods></class><class name="runner.api.LibraryAPITest"><methods><include name="test_Message"/><include name="test_ID"/></methods></class><class name="runner.api.MapAPITest"><methods><include name="testMap"/></methods></class><class name="runner.gui.EcommerceTestExcel"><methods><include name="ecommerceFashion_Test"/><include name="ecommerceElectronics_Test"/></methods></class></classes></test></suite>